@using AzadiSoft.UserManager.Resources
@model AzadiSoft.UserManager.ViewModels.UserViewModel

@{

    var pageTitle = MessageText.EditUserDetails;

    ViewBag.Title = pageTitle;

    ViewData[Consts.EditMode] = true;
}

<h2>@pageTitle</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.User_ID)

    @Html.ValidationSummary(false)

    @Html.Partial("_Create_Edit_Form", Model)

    <div class="row col-lg-offset-2">

        <button id="btnSubmit" type="submit" class="btn btn-success">@MessageText.EditUserDetails</button> &nbsp;

        <button id="btnReset" type="reset" class="btn btn-danger">@MessageText.ResetForm</button>
        
        <a role="button" href="@Url.Action("List")" class="btn btn-primary">@MessageText.BackToList</a>

    </div>
}
